---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Publications from '../components/Publications.astro';
import Awards from '../components/Awards.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Javier Jiménez - Data Scientist & NLP Engineer | GenAI Portfolio">
	<Navigation />
	<main>
		<Hero />
		<About />
		<Experience />
		<Projects />
		<Publications />
		<Awards />
		<Contact />
	</main>
	<Footer />
</Layout>
